* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: calc(100vh - 100px);
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    display: flex;
    gap: 1rem;
    
}
.input-container {
    display: flex;
    gap: 1rem;
}
